@model SimulacionDeRestauranta.Models.SimulacionData

@{
    ViewData["Title"] = "Home Page";
}


<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="max-width: 700px; width: 100%;">
        <div class="text-center mb-4">
            <h3><span style="font-size: 2rem;">🍽</span> <strong class="text-primary">Bienvenido a la Simulación de
                    Restaurante</strong></h3>
            <p class="text-muted">Ingresa la cantidad de pedidos para iniciar la simulación.</p>
        </div>

        <form asp-controller="Home" method="post" asp-action="Resultado">
            <div class="mb-3">
                <label for="cantidadPedidos" class="form-label" asp-for="CantidadPeticiones">Cantidad de
                    pedidos:</label>
                <input type="number" class="form-control" min="1" required asp-for="CantidadPeticiones" />
            </div>
            <button type="submit" class="btn btn-primary w-100">Iniciar Simulación</button>
        </form>
    </div>
</div>
